body{
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.name_top{
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(94, 94, 94) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 20%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    border-bottom: 1px solid rgb(129, 129, 129);
}
.buttons{
    margin-right: 22%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.buton{
    font-size: 15px;
    color: rgb(253, 253, 253);
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
}
.buton::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(100, 100, 100);
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
}
.buton:hover::after{
    width: 100%;
}
.content_top{
    background: radial-gradient(circle, rgb(43, 43, 43) 0%, rgb(0, 0, 0) 100%);
    background-clip: border-box;
    height: 95.9vh;
    overflow: hidden;
}
.buton:hover{
    background-color: rgb(36, 36, 36);
}
.main_text{
    background: linear-gradient(90deg, rgb(165, 165, 165) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    margin: 0;
}
.image_text{
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 19%;
    align-items: center;
}
.main_under_text{
    margin-right: 9.6%;
    font-size: 20px;
    color: white;
}
.main_about{
    margin-right: 3.5%;
    font-size: 15px;
    color: rgb(145, 145, 145);
}
.projects_but {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    padding: 12.5px 25px;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 13%;
    position: relative; 
    overflow: hidden;
}

.projects_but::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(43, 43, 43);
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
}

.projects_but:hover::after {
    width: 100%;
}

.projects_but:hover {
    background-color: rgb(165, 165, 165);
}
.about_main_text{
    background: linear-gradient(90deg, rgb(165, 165, 165) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.under_info{
    margin-top: 0;
    font-size: 15px;
    color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;
}
.info_card{
    margin: 10px;
    background-color: rgb(10, 10, 10);
    width: 20%;
    border-radius: 10px;
    border: 2px solid rgb(19, 19, 19);
    cursor: default;
}
.info_card:hover{
    border: 2px solid rgb(255, 255, 255);
}
.info_card_title{
    color: white;
    margin: 20px;
}
.list_1{
    margin: 10px;
    color: rgb(145, 145, 145);
}
.info_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skill_title{
    background: linear-gradient(90deg, rgb(165, 165, 165) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.skill_under_info{
    margin-top: 0;
    font-size: 15px;
    color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;
}
.skills_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgb(29, 29, 29);
    width: 10%;
    border-radius: 10px;
    border: 2px solid rgb(19, 19, 19);
    cursor: default;
}
.skill_emoji{
    font-size: 40px;
    margin-bottom: 0px;
}
.skill_card_title{
    color: white;
    margin-top: 20px;
    font-size: 15px;
}
.skill_skill{
    margin-bottom: 10px;
    color: rgb(145, 145, 145);
    font-size: 12px;
}
.skills_card:hover{
    border: 2px solid rgb(255, 255, 255);
}
.project_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project_card_image{
    width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project_card{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
    background-color: rgb(29, 29, 29);
    width: 15%;
    border-radius: 10px;
    border: 2px solid rgb(19, 19, 19);
    cursor: default;
}
.project_title{
    margin: 10px;
    color: white;
    font-size: 30px;
}
.project_description{
    margin: 10px;
    color: rgb(145, 145, 145);
    font-size: 15px;
}
.project_card:hover{
    border: 2px solid rgb(255, 255, 255);
}
.project_link{
    margin: 10px;
    color: rgb(145, 145, 145);
    border: none;
    font-size: 15px;
}
.social_media img{
    width: 60px;
    height: 60px;
}
.social_media img:hover{
    filter: brightness(150%);
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.bottom{
    margin-top: 20px;
    background-color: rgb(29, 29, 29);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(56, 56, 56);
}
.bottom_text{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
@media screen and (max-width: 480px) {
    .top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .name_top{
        margin-left: 0;
        margin: 10px;
    }
    .buton{
        display: none;
    }
    .burger_lines{
        background-color: white;
        width: 30px;
        height: 4px;
        margin: 4px;
    }
    .conteiner{
        display: block !important;
        margin: 10px;
    }
    .info_cards {
        flex-direction: column;
        align-items: center;
    }
    .skills_cards {
        flex-direction: column;
        align-items: center;
    }
    .project_cards {
        flex-direction: column;
        align-items: center;
    }
}
.conteiner{
    display: none;
}